/* FOOTER-SECTION------------------------------------------------------------------------------------------------------------------------*/

.footer-section{
    background-color: #3a5a40;
    bottom: 0;
    padding: 20px
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}

.footer-col{
    color: #ffffff;
    margin: 2vw;
    text-align: center;
}

.footer-text{
    color: darkgrey;
    font-size: 18px;
}

.line{
    background-color: darkgrey ;
    height: 3px;
}

.Rights-div{
    color: darkgrey;
    margin: 1vw;
    text-align: center;
}

.Right{
    font-size: 14px
}

.social-icons a{
    display: block;
    color: darkgrey;
    text-decoration: none;
    font-size: 18px;
}


/* RESPONSIVE GRID AND FONT------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 330px){
.container{
    grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 480px){
.container{
    grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1080px){
.container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1600px){
.footer-text{
    font-size: 27px;
    }

.Rights-div{
    font-size: 20px;
    }

.social-icons a{
    font-size: 27px;
    }
}
