.item1 { grid-area: a; }
.item2 { grid-area: b; }
.item3 { grid-area: c; }
.item4 { grid-area: d; }
.item5 { grid-area: e; }

.img-grid-container {
    display: grid;
    grid-template-areas:
    'a a a a a a'
    'c c c c c c'
    'b b b b b b'
    'd d d d d d'
    'e e e e e e';
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    background-color: beige;
    z-index: 1000;
    width: 80%;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.img-grid-container div {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.img-grid-container div img{
    background-color: beige;
    transition: transform 0.5s ease-in-out;
    z-index: 500;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.img-grid-container div :hover{
    transform: scale(1.05);
}


@media only screen and (min-width: 600px){   
.img-grid-container {
    grid-template-areas:
    'a a a a a a'
    'b b c c c c'
    'd d d e e e';
}   
}

@media only screen and (min-width: 1080px){   
.img-grid-container {
    grid-template-areas:
    'a a a b b b'
    'c c d d e e';
}  
} 

.Image-grid-section{
    background-color: beige;
}
