* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; ;
    font-size: xx-large;
}


.text{
    margin: 1%;
}


/* Navbar */

.navbar{
    position: fixed; 
    width: 94%;
    margin: 15px 1%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px 2%;
    border-radius: 30px;
}


/* NAV-1 */

.logo {
    height: 30px;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    gap: 5px;
    flex-direction: column;
}

.menu-icon span {
    display: block;
    width: 25px; 
    height: 3px;
    background-color: black;
    transition: all 0.3s ease;
}

.menu-toggle:checked + .menu-icon .bar1 {
    transform: rotate(45deg);
    position: absolute;
}

.menu-toggle:checked + .menu-icon .bar2 {
    opacity: 0;
}

.menu-toggle:checked + .menu-icon .bar3 {
    transform: rotate(-45deg);
    position: absolute;
}  

/* NAV-2 */

.nav-2 {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.nav-2 a{
    text-decoration: none;
    color: black
}

/* Handy */

@media screen and (max-width: 768px) {
    .navbar{
        flex-direction: column;
    }

    .nav-2 {
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .nav-1{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-icon {
        display: flex;
    }


    body:has(.menu-toggle:checked) .nav-2 {
        display: block;
    } 
}

