* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
    padding: 15px 20px;
    color: black;
    position: fixed;
    width: 98%;
    margin: 20px 1%;
    border-radius: 40px;
    z-index: 1000;
    max-height: 57px;
}

.logo{
    z-index: 1000;
    height: 27px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}
.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 40px;
    height: 27px;
    justify-content: space-between;
    transition: 0.3s;
    z-index: 1000;
}
.bar {
    width: 40px;
    height: 3px;
    background: black;
    transition: 0.3s;
    z-index: 1000;
}
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 28px;
        left: 0;
        background: whitesmoke;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px;
        padding: 40px 0;
        z-index: 500;
        max-height: 1000px;
    }

    .nav-links li {
    margin: 5px 20px;
    }
    .nav-links.active {
        display: flex;
    }
    .hamburger {
        display: flex;
    }
}

/* Animation: Hamburger zu X */
.hamburger.active .bar:nth-child(1) {
    transform: translateY(12px) rotate(-135deg);
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(135deg);
}

section{
    height: 200vh;
}

