        .text-slider-container {
            width: 100%;
            overflow: hidden;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        .slider-wrapper {
            display: flex;
            transition: transform 0.3s ease-in-out;
        }
        .slider-item {
            display: flex;
            flex-direction: row;
            min-width: 80%;
            margin: 10%;
            background-color: whitesmoke;
            border-radius: 30px;
            align-items: center;
            position: relative;
            overflow: hidden;
            transition: all 0.6s ease-in-out;
            transform: scale(0.3);
        }
        .slider-item div {
            color: black;
            padding: 20px;
            border-radius: 20px;
            transition: all 0.5s ease-in-out;
            display: flex;
            flex-direction: column;
        }

        .slider-item.active {
            transform: scale(1);
        }

        .slider-item img {
            border-radius: 20px;
            width: 50%;
            margin: 5%;
            max-height: 300px;
            object-fit: cover;
        }
        .prev, .next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: whitesmoke;
            color: black;
            border: none;
            padding: 20px;
            border-radius: 10px;
            cursor: pointer;
        }
        .prev { left: 10px; }
        .next { right: 10px; }
